@import 
url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 80%;
    min-height: 300px;
    margin: auto;
    background-color: #F9E9CA;
    /* border: 1px solid #000; */
}
.main-home{
    width: 100%;
    height: 300px;
    /* background-color:lightseagreen; */
     background-image: url(../image/WhatsApp\ Image\ 2024-06-13\ at\ 12.33.49\ PM.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #000;
}
.main-home .manu{
    width: 100%;
    height: 30px;
    /* border: 1px solid #000; */
}
.manu .home{
    width: 50%;
    height: 30px;
    float: left;
    margin-left: 20%;

}
.home a{
    text-decoration: none;
    padding-left: 20px;
    color: #F9E9CA;
}
.main-home .home-contact{
    width: 30%;
    height: 30px;
    float: left;
   

}
.home-contact input{
    width: 30%;
    height: 25px;
    background-color: black;
    color: #F9E9CA;
    margin-top: 5px;
    border-radius: 10px;
}

.main-home .contact{
    width: 100%;
    height: 200px;
    /* border: 1px solid #000; */
    padding-left: 100px;
    padding-top: 60px;
    color: #F9E9CA;
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}
.contener{
    width: 100%;
    height: 500px;
    margin-top: 50px;
}
.contener .div1{
    width: 45%;
    height: 300px;
    float: left;
    /* border: 1px solid red; */
    margin-left: 5%;
    margin-right: 5%;

}
.div1 iframe{
    width: 100%;
    height: 400px;
}
.contener .div2{
    width: 45%;
    height: 200px;
    margin-left: 580px;
    float: left;
    padding-left: 50px;
    /* border: 1px solid palegreen; */
}
.div2 i{
    color: lightseagreen;
    width: 5%;
    padding-top: 2px;
    font-size: 16px;
}
.div2 a{
    text-decoration: none;
    color:  #683921;
    
}
.contener .div3{
    width: 45%;
    height: 300px;
    /* border: 1px solid #000; */
    margin-top: 20px;
    margin-left: 500px;
    padding-left: 10px;
}
.div3 input{
    margin-top: 5px;
    width: 33%;
    height: 25px;
}
.div3 input[type=submit]{
    width: 20%;
    height: 30px;
    background-color: #82A5BC;
    color: #F9E9CA;
}
input[type=mail]{
    width: 68%;
    height: 100px;
}
.box{
    width: 100%;
    height: 250px;
    /* margin-top: 20%; */
    /* border: 1px solid #000; */
    margin-top: 200px;
    background-color: #82A5BC;
    font-size: 16px;
}
.box h3{
    color:  #683921;

}

.box .box1{
    width: 26%;
    height: 250px;
    float: left;
    margin-left: 10px;
    padding-left: 80px;
    font-size: 16px;
    /* border: 1px solid #000; */
}
.box1 i{
    width: 20%;
    height: 50px;
    padding-top: 20px;
    color: #F9E9CA;
    
}
.box .box2{
    width: 23%;
    height: 250px;
    float: left;
    margin-left: 10px;
    padding-left: 50px;
    font-style:normal;
    font-size: 16px;
    /* border: 1px solid #000; */
}


.box .box3{
    width: 23%;
    height: 250px;
    float: left;
    margin-left: 10px;
    font-size: 16px;
    /* border: 1px solid #000; */
}
.box .box4{
    width: 24%;
    height: 250px;
    float: left;
    margin-left: 10px;
    font-size: 16px;
    /* border: 1px solid #000; */
}
.box4 input[type=email]{
    width: 35%;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
}
.box4 input[type=button]{
    width: 30%;
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #000;
    color: #F9E9CA;
}
.footer{
    width: 100%;
    height: 30px;
    margin-top: 5px;
    background-color: #9F714D;
    font-size: 18px;
    color: #F9E9CA;
}
.footer .a1{
    width: 45%;
    height: 30px;
    float: left;
    padding-left: 10px;
    /* border: 1px solid #000; */
}
.footer .a2{
    width: 45%;
    height: 30px;
    float: left;
    margin-left: 10%;
    /* border: 1px solid #000; */
    padding-left: 280px;
}